.photo-album{
    width: 75%;
    background: #F5F5F5;
    overflow: auto;
    flex: none;
}

.photo-album__header{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 30px;
    margin-right: 30px;
    align-self: center;
    align-content: center;
}



/*.items{
    display: grid;
    grid-template-columns: minmax(300px, 31%) minmax(270px, 31%) minmax(100px, 31%);
    grid-template-rows: minmax(150px, 300px) minmax(150px, 300px) minmax(250px, 400px);
    grid-gap: 5px;
    box-sizing: border-box;
    width: 100%;

}*/


/*.photo-album__container{
    margin: 30px;
    column-count: 3;
    column-gap: 5px;
}

.item{
    display: inline-block;
    width: 95%;
    margin: 5px;
    align-items: center;
}


.item-img{
    width: 100%;
    height: 100%;
}*/

.photo-album__container{
    width: 1080px;
   margin: 0 auto;
}

.container{
  display: flex;
    flex-direction: row;
}


.items{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding-left: 10px;
}

.item{
    padding-bottom: 10px;
    width: 350px;
}

.item-img{
    width: 100%;
    height: 100%;
}

.top{
    padding: 30px 0 10px;
}

.photo-album__header__title{
    font-size: 48px;
}

.arrow-left, .arrow-right{
    font-size: 24px;
}

.arrow-left:hover, .arrow-right:hover{
    color: #757575;
    cursor: pointer;
}

.arrow-left:before{
    padding-right: 15px;
    content: '\2190';
}

.arrow-right:after{
    padding-left: 15px;
    content: '\2192';
}


@media (max-width: 1400px) {
/*    .photo-album__container {
        column-count: 3;
        margin: 30px;
    }*/

    .item, .items{
        width:320px;
    }

    .photo-album__container{
        width: 990px;
    }


    .photo-album__header__title{
        font-size: 36px;
    }

    .arrow-left, .arrow-right{
        font-size: 20px;
    }
}

