.sidebar{
    width: 25%;
    float: left;
    overflow:auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Comfortaa;
    font-weight: 300;
}

.sidebar__header{
    font-size: 60px;
}

.sidebar__header:first-child{
    margin-top: 45px;
}

.sidebar__list{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 210px;
}

.portfolio, .about{
    padding-bottom: 35px;
}

.portfolio:hover, .about:hover, .conditions:hover{
    color: #757575;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .sidebar__header {
        font-size: 50px;
    }

    .sidebar__list{
        font-size: 24px;
    }
}